<%= form_for(@position_paper) do |f| %>
  <% if @position_paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position_paper.errors.count, "error") %> prohibited this Position Paper from being saved:</h2>

      <ul>
      <% @position_paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if flash[:notice] %>
    <h4> <%= flash[:notice] %> </h4>
  <% end %>

  <div class="actions">
    <%= f.label :committee_id, "Select your Committee" %>
    <%= f.select :committee_id, options_for_select(@committees), prompt: "-- Select A Committee --" %>

    <%= f.label :topic_id, "Select your Topic" %>
    <%= f.select :topic_id, options_for_select(@topics) %>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <%= f.label :paper, "Upload Position Paper (.doc/.docx only please)" %>
    <%= f.file_field :paper %>

    <%= f.submit "Submit Position Paper", class: "button small" %>
  </div>
<% end %>
