<p id="notice"><%= notice %></p>

<h1>Listing Position Papers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @position_papers.each do |position_paper| %>
      <tr>
        <td><%= position_paper.title %></td>
        <!-- Will download the attached paper from S3 -->
        <td><%= link_to 'Download', download_path(position_paper.id) %></td>
        <td><%= link_to 'Delete', position_paper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Position paper', new_position_paper_path %>
